@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #f0fffe;
	--color-primary-100: #ccfffb;
	--color-primary-200: #99fff8;
	--color-primary-300: #7afff7;
	--color-primary-400: #72fff6;
	--color-primary-500: #6afff5;
	--color-primary-600: #00e8d8;
	--color-primary-700: #00baac;
	--color-primary-800: #008c82;
	--color-primary-900: #005e58;

	--color-secondary-50: #f0f8ff;
	--color-secondary-100: #d6eeff;
	--color-secondary-200: #aad9ff;
	--color-secondary-300: #66c0ff;
	--color-secondary-400: #1aa7ff;
	--color-secondary-500: #0074bd;
	--color-secondary-600: #005c99;
	--color-secondary-700: #004775;
	--color-secondary-800: #003052;
	--color-secondary-900: #002035;

	--color-bg: #001221;
	--color-container: #001e36;
	--color-text: #aad9ff;

	--font-mono: 'Azeret Mono', sans-serif;
	--font-inria: 'Inria Sans', sans-serif;
}

@source '../../node_modules/flowbite-svelte/dist';
@source '../../node_modules/flowbite-svelte-icons/dist';

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}
* {
	box-sizing: border-box;
	scroll-snap-type: proximity;
}

body {
	background-color: var(--color-bg);
	font-family: 'Inria Sans', sans-serif;
	scroll-behavior: smooth;
	box-sizing: border-box;
	overscroll-behavior: none;
	scrollbar-width: thin;
	scrollbar-color: var(--color-text) var(--color-secondary-900);
}
body::-webkit-scrollbar {
	width: 8px;
}
body::-webkit-scrollbar-track {
	background: var(--color-secondary-900);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--color-text);
	border-radius: 4px;
}
.content-width {
	max-width: 1700px;
	width: 100%;
}
.glass-container {
	border: 1px solid rgba(0, 116, 189, 0.2);
	background: linear-gradient(
		135deg,
		rgba(255, 255, 255, 0.03) 0%,
		rgba(255, 255, 255, 0.08) 50%,
		rgba(255, 255, 255, 0.03) 100%
	);
	backdrop-filter: url(#glass);
	transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}
.glass-button {
	/* border: 1px solid rgba(0, 116, 189, 0.2);
	background: linear-gradient(
		135deg,
		rgba(0, 186, 172, 0.03) 0%,
		rgba(0, 186, 172, 0.08) 50%,
		rgba(0, 186, 172, 0.03) 100%
	); */
	backdrop-filter: url(#glass);
}

.bg-glow-sm {
	backdrop-filter: url(#glass);
	box-shadow: 0 1px 15px rgba(102, 192, 255, 0.3);
}
.hover-bg-glow {
	backdrop-filter: url(#glass);
	transition: all 0.2s ease-in;
	box-shadow: 0 1px 15px rgba(102, 192, 255, 0);
}
.hover-bg-glow:hover {
	backdrop-filter: url(#glass);
	box-shadow: 0 1px 15px rgba(102, 192, 255, 0.3);
}
.footer-mask {
	background: linear-gradient(to top, var(--color-bg) 50%, transparent);
}
.nav-mask {
	background: linear-gradient(to bottom, var(--color-bg) 25%, transparent);
}
.fade-scroll-mask {
	/* background: linear-gradient(
		to bottom,
		var(--color-bg) 0%,
		transparent 25%,
		transparent 75%,
		var(--color-bg) 100%
	); */
	/*
Source - https://stackoverflow.com/a/9670876
Posted by Adrian van Vliet, modified by community. See post 'Timeline' for change history
Retrieved 2026-07-02, License - CC BY-SA 4.0
*/

	-webkit-mask-image: -webkit-gradient(
		linear,
		left 80%,
		left bottom,
		from(rgba(0, 0, 0, 1)),
		to(rgba(0, 0, 0, 0))
	);
	mask-image: -webkit-gradient(
		linear,
		left 80%,
		left bottom,
		from(rgba(0, 0, 0, 1)),
		to(rgba(0, 0, 0, 0))
	);
}
.fade-scroll-x-mask {
	-webkit-mask-image: -webkit-gradient(
		linear,
		left 50%,
		left right,
		from(rgba(0, 0, 0, 1)),
		to(rgba(0, 0, 0, 0))
	);
	mask-image: -webkit-gradient(
		linear,
		left 50%,
		left right,
		from(rgba(0, 0, 0, 1)),
		to(rgba(0, 0, 0, 0))
	);
}

.section-summary {
	padding: 2rem;
	padding-right: 0;
}
.section-content {
	padding: 2rem;
	padding-left: 0;
	scroll-margin-top: 8rem;
}
@media screen and (max-width: 768px) {
	.section-summary {
		padding: 2rem;
	}
	.section-content {
		padding: 1rem 0.5rem;
	}

	#works.section-content,
	#works .section-content {
		padding: 1rem 0rem;
	}
}
@media screen and (max-width: 1024px) {
	.section-summary {
		padding: 0rem;
	}
	#contact .section-content {
		padding: 0;
		overflow: auto;
	}
	#works .section-content {
		/* padding: 2rem; */
		padding-right: 0;
		overflow: auto;
	}
}
#contact .content-component-wrapper {
	flex-direction: row;
}

.external_link {
	@apply text-primary-700 transition-colors duration-75 ease-in-out;
}
.external_link:hover {
	@apply text-primary-500 underline;
}
.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: var(--color-text) var(--color-secondary-900);
}
.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: var(--color-secondary-900);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--color-text);
	border-radius: 4px;
}

:global(input:-webkit-autofill),
:global(textarea:-webkit-autofill),
:global(select:-webkit-autofill),
:global(input:-webkit-autofill:hover),
:global(textarea:-webkit-autofill:hover),
:global(select:-webkit-autofill:hover),
:global(input:-webkit-autofill:focus),
:global(textarea:-webkit-autofill:focus),
:global(select:-webkit-autofill:focus) {
	-webkit-text-fill-color: var(--color-text) !important;
	background-color: transparent !important;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.12) !important;
	background-clip: content-box !important;
	transition:
		background-color 9999s ease-out 0s,
		color 9999s ease-out 0s;
}
